<%= provide(:title, "Listing Details") %>
<div class="row mx-4">
    <div class="col-2">
        <%= render 'rooms/menu' %>
    </div>
    <div class="col-10">       
        <div class="card container d-flex justify-content-center mt-4">
            <div class="card-header">
                <h3>Listing Details<h3>
            </div>
            <%= form_for(@room) do |f| %>
            <div class="card-body row justify-content-center">
                <div class="form-group mx-4">
                    <h6>Home Type</h6>
                    <%= f.select :home_type, options_for_select([
                                ["Condominium"],
                                ["Resort"],
                                ["Hotel"],
                                ["Beach House"], 
                                ["Apartment"],
                                ["Capsule Room"]
                            ], selected: f.object.home_type), include_blank: true, class: "col-12" %>
                </div>
                <div class="form-group mx-4">
                    <h6>Room Type</h6>
                    <%= f.select :room_type, options_for_select([
                                ["Entire"],
                                ["Private"],
                                ["Shared"]
                            ], selected: f.object.room_type), include_blank: true, class: "col-12" %>
                </div>
                <div class="form-group mx-4">
                    <h6>Accommodate</h6>
                    <%= f.select :accommodate, options_for_select([
                                ["1 Guest", 1],
                                ["2 Guests", 2],
                                ["3 guests", 3],
                                ["4+ Guests", 4]
                            ], selected: f.object.accommodate), include_blank: true, class: "col-12" %>
                </div>
                <div class="form-group mx-4">
                    <h6>Bedroom</h6>
                    <%= f.select :bedroom, options_for_select([
                                ["1 Guest", 1],
                                ["2 Guests", 2],
                                ["3 guests", 3],
                                ["4+ Guests", 4]
                            ], selected: f.object.bedroom), include_blank: true, class: "col-12" %>
                </div>
                <div class="form-group mx-4">
                    <h6>Bathroom</h6>
                    <%= f.select :bathroom, options_for_select([
                                ["1 Guest", 1],
                                ["2 Guests", 2],
                                ["3 guests", 3],
                                ["4+ Guests", 4]
                            ], selected: f.object.bathroom), include_blank: true, class: "col-12" %>
                </div>
            </div>
            <div class="text-center pb-4">
                <%= f.submit "Update Listings", class: "btn btn-outline-dark" %>
            </div>
            <% end %>
        </div>       
    </div>
</div>